body
{
    background-color: lightgrey;
}
/* Header */

header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#logo img
{
    height: 80px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* baniere meilleur film */


/* Bannière */
#baniere_best_film
{
    margin-top: 15px;
}
#banniere_image
{
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
}
#banniere_image img
{
    height: 300px;
}
#banniere_descreption
{
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
}
#banniere_play
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 200px;
    padding-left: 6px;
    background-color: rgba(24,24,24,0.8);
    font-size: 0.8em;
    display: flex;
}
.button {
    height: 25px;
    position: relative;
    right: 5px;
    bottom: 5px;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 68px;
    background-color: white;
    padding: 6px 30px 6px 30px;
    cursor: pointer;
    overflow:hidden;
    z-index: 1;
    box-shadow: inset 0 0 20px rgba(255, 166, 170, 0);
    outline: 1px solid;
    outline-color: rgba(255, 166, 170, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.text_boutton{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: inherit;
  position: absolute;
  text-decoration: none;
  color: #E50914;
  z-index: 1;
  transition: color .2s;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.text_boutton.is-white {
  color: white;
}

.background__button {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #E50914;
  border-radius: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  transition: width .3s, height .3s, box-shadow .3s;
}


.background__button.is-hover {
   width: 200px;
  height: 200px;
  box-shadow: inset 0px 0px 300px -40px     rgba(0,0,0,1);
}

.button:hover {
  box-shadow: inset 0 0 20px rgba(255, 166, 170, .5), 0 0 20px rgba(255, 126, 133, .2);
  outline-color: rgba(255, 166, 170, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
section h1, footer h1,  h4
{
    font-family: "Times New Roman", serif;
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* Décrire l'animation */
@keyframes slideDownFadeIN {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
  display: none;
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
  display: table;
}

/* la fenêtre modale  */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
  margin: auto;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

.modal-content header {
  background-color: black;
  font-size: 25px;
  color: white;
}

footer {
  background-color: black;
  font-size: 20px;
  color: white;
}
