
body
{
    background-color: darkgrey;
}
#bloc_page
{
    width: 900px;
    margin: auto;
}
@media all and (max-width: 1500px)
{
    #bloc_page
    {
        width: auto;
    }
    .carousel {
      position: relative;
      width: 800px;
      margin: 0 auto;
      box-shadow: 0px 4px 4px #1c1a19;
    }
}
@media all and (max-width: 800px)
{
    #bloc_page
    {
        width: auto;
    }
    .carousel {
      position: relative;
      width: 600px;
      margin: 0 auto;
      box-shadow: 0px 4px 4px #1c1a19;
    }
}
@media all and (max-width: 600px)
{
    #bloc_page
    {
        width: auto;
    }
    .carousel {
      position: relative;
      width: 400px;
      margin: 0 auto;
      box-shadow: 0px 4px 4px #1c1a19;
    }
}
@media all and (max-width: 400px)
{
    #bloc_page
    {
        width: auto;
    }
    .carousel {
      position: relative;
      width: 200px;
      margin: 0 auto;
      box-shadow: 0px 4px 4px #1c1a19;
    }
}

/*------------------------------------------------------------------------------------------------------------------- */

/* Header */

header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#logo img
{
    height: 80px;
}

ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    padding: 5px 15px 5px 15px;
    background: lightgrey;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}
/*------------------------------------------------------------------------------------------------------------------- */

/* baniere meilleur film */


/* Bannière */

.box {
  position: relative;
  text-align: center;
  color: black;
}

.box img {
    width : 350px;
    height : auto;
}


#ORIGINAL_TITLES {
    position: absolute;
    bottom: 200px;
    left: 16px;
}
#RESUMES {
    position: absolute;
    bottom: 120px;
    left: 16px;
    width: 200px;
    text-align: justify;
}

.styled {
    position: absolute;
    bottom: 80px;
    left: 16px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*------------------------------------------------------------------------------------------------------------------- */

footer h1, h2, h3
{
    font-family: "Times New Roman", serif;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------- */

h4 {
    font-family: "Times New Roman", serif;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------- */

/* Décrire l'animation */
@keyframes slideDownFadeIN {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
  display: table;
  position: absolute;
}

/* la fenêtre modale  */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
  margin: auto;
  background-color: lightgrey;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  animation-name: slideDownFadeIN;
  animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

.modal-content header {
  background-color: darkgrey;
  font-size: 25px;
  color: white;
}

.modal-content footer {
  background-color: darkgrey;
  font-size: 20px;
  color: white;
}

/*------------------------------------------------------------------------------------------------------------------- */

.carrousel1 {
  box-shadow: 0px 4px 4px #1c1a19;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 300px;
}

.slide {
  height: 100%;
  position: absolute;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}


.nav {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background-color:black;
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

/*------------------------------------------------------------------------------------------------------------------- */
