<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


        <title>Film en streaming</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="../static/css/images/logo.png" alt="Logo_page"/>
                    </div>
                </div>
                <nav>

                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Catégories</a></li>
                    </ul>

                </nav>
            </header>

            <div id="baniere_best_film">
                <div id="banniere_image">
                    <h4> Best Film: </h4>
                    <div id="image" ></div>
                    <div id="banniere_play">
                        <div class="button">
                            <a class="text_boutton" href="">Play</a>
                            <div class="background__button"></div>
                        </div>
                        <div class="button">
                            <a class="text_boutton" href="">More Info</a>
                            <div class="background__button"></div>
                        </div>

                    </div>
                </div>
                <div id="banniere_descreption">
                    <h4 id="TITRE"></h4>
                    <h4 id="GENRE"></h4>
                    <h4 id="DATE_SORTIE">
                    <h4 id="RATED"></h4>
                    <h4 id="SCORE_IMDB"></h4>
                    <h4 id="REALISATEUR"></h4>
                    <h4 id="ACTEURS"></h4>
                    <h4 id="PAYS"></h4>
                    <h4 id="DUREE"></h4>
                    <h4 id="RESULTAT_BACK"></h4>
                    <h4 id="RESUME"></h4>
                </div>
            </div>
            <section>

            </section>

            <footer>
            </footer>

        <script src="../static/js/myscript.js"></script>
    </body>
</html>
