<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css" />


        <title>Film en streaming</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="../static/css/images/logo.png" alt="Logo_page"/>
                    </div>
                </div>
                <ul id="menu">
                    <li><a href=".">Accueil</a></li>
                    <li><a href="#">Genres</a>
                        <ul>
                            <li><a href="#">Best Films</a></li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Comedy</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Films</a>
                        <ul>
                            <li><a href="#">------</a></li>
                            <li><a href="#">------</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Séries</a>
                        <ul>
                            <li><a href="#">------</a></li>
                            <li><a href="#">------</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
            <section>
                <div class="box" id="image">
                    <h1>Best film</h1>
                    <h1 id="ORIGINAL_TITLES"></h1>
                    <h4 id="RESUMES"></h4>
                    <button class="favorite styled" type="button"> Play </button>
                </div>

                <div id="id01" class="modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <header class="container">
                        <a href="#" class="closebtn">×</a>
                        <h3 id="TITRE">Titre: </h3>
                      </header>
                      <div class="container">
                        <h4 id="description_films">Descriptions: </h4>
                          <div id="images_films" style="text-align: center;"></div>
                      </div>
                      <footer class="container">
                        <h3 id="DUREE">Durée: </h3>
                      </footer>
                    </div>
                  </div>
                </div>
                <div class="carrousel1">
                    <h2> Best Films: </h2>
                    <div class="carousel ">
                        <button class="nav nav-left best_movies_left_button" ></button>
                        <div  id="images_best_movies" class="carousel-content"></div>
                        <button class="nav nav-right best_movies_right_button" ></button>
                    </div>
                </div>
                <div class="carrousel1">
                    <h2> Action: </h2>
                    <div class="carousel">
                        <button class="nav nav-left actions_left_button" ></button>
                        <div  id="images_best_movies_categorie_1" class="carousel-content"></div>
                        <button class="nav nav-right action_right_button" ></button>
                    </div>
                </div>
                <div class="carrousel1">
                    <h2> Adventure: </h2>
                    <div class="carousel">
                        <button class="nav nav-left adventure_left_button" ></button>
                        <div  id="images_best_movies_categorie_2" class="carousel-content"></div>
                        <button class="nav nav-right adventure_right_button" ></button>
                    </div>
                </div>
                <div class="carrousel1">
                    <h2> Comedy: </h2>
                    <div class="carousel">
                        <button class="nav nav-left comedy_left_button" ></button>
                        <div  id="images_best_movies_categorie_3" class="carousel-content"></div>
                        <button class="nav nav-right comedy_right_button" ></button>
                    </div>
                </div>

            </section>

            <footer>
            </footer>
        </div>

        <script src="../static/js/myscript.js"></script>
        <script src="../static/js/caroussel_script.js"></script>
    </body>
</html>
