<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/style.css" />


        <title>Film en streaming</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="../static/css/images/logo.png" alt="Logo_page"/>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Catégories</a></li>
                    </ul>
                </nav>
            </header>
            <div id="baniere_best_film">
                <div id="banniere_image">
                    <h4> Best Film: </h4>
                    <div id="image" ></div>
                    <div id="banniere_play">
                        <div class="button">
                            <a class="text_boutton" href="">Play</a>
                            <div class="background__button"></div>
                        </div>
                        <div class="button">
                            <a class="text_boutton" href="#id01">More Info</a>
                            <div class="background__button"></div>
                        </div>

                    </div>
                </div>
                <div id="banniere_descreption">
                    <h4 id="ORIGINAL_TITLE"></h4>
                    <h4 id="RESUME"></h4>
                </div>
            </div>
            <div id="id01" class="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <header class="container">
                    <a href="#" class="closebtn">×</a>
                    <h4 id="TITRE"></h4>
                  </header>
                  <div class="container">
                    <h4 id="GENRE"></h4>
                    <h4 id="DATE_SORTIE"></h4>
                    <h4 id="RATED"></h4>
                    <h4 id="SCORE_IMDB"></h4>
                    <h4 id="REALISATEUR"></h4>
                    <h4 id="ACTEURS"></h4>
                    <h4 id="PAYS"></h4>
                    <h4 id="RESULTAT_BACK"></h4>
                    <h4 id="RESUME_LONG"></h4>
                  </div>
                  <footer class="container">
                    <h4 id="DUREE"></h4>
                  </footer>
                </div>
              </div>
            </div>
            <section>
                <div class="best_movies">
                    <h4> Best Films: </h4>
                </div>
                <div class="container">
                    <div class="carousel">
                      <div class="nav nav-left">
                        <button class="best_movies_left_button " ></button>
                      </div>
                        <div  id="images_best_movies" class="carousel-content"></div>
                      <div class="nav nav-right">
                        <button class="best_movies_right_button " ></button>
                      </div>
                    </div>
                </div>

                <div class="categorie_1">
                    <h4> Action: </h4><h4> Action: </h4>
                </div>
                <div class="container">
                    <div class="carousel">
                      <div class="nav nav-left">
                        <div class="ion-chevron-left carousel-arrow-icon-left"></div>
                      </div>
                        <div  id="images_best_movies_categorie_1" class="carousel-content"></div>
                      <div class="nav nav-right">
                        <div class="ion-chevron-right carousel-arrow-icon-right"></div>
                      </div>
                    </div>
                </div>
                <div class="categorie_2">
                    <h4> Adventure: </h4>
                </div>
                <div class="container">
                    <div class="carousel">
                      <div class="nav nav-left">
                        <div class="ion-chevron-left carousel-arrow-icon-left"></div>
                      </div>
                        <div  id="images_best_movies_categorie_2" class="carousel-content"></div>
                      <div class="nav nav-right">
                        <div class="ion-chevron-right carousel-arrow-icon-right"></div>
                      </div>
                    </div>
                </div>
                <div class="categorie_3">
                    <h4> Comedy: </h4>
                </div>
                <div class="container">
                    <div class="carousel">
                      <div class="nav nav-left">
                        <div class="ion-chevron-left carousel-arrow-icon-left"></div>
                      </div>
                        <div  id="images_best_movies_categorie_3" class="carousel-content"></div>
                      <div class="nav nav-right">
                        <div class="ion-chevron-right carousel-arrow-icon-right"></div>
                      </div>
                    </div>
                </div>
            </section>

            <footer>
            </footer>
        </div>

        <script src="../static/js/myscript.js"></script>
        <script src="../static/js/caroussel_script.js"></script>
    </body>
</html>
